# DATABASE_URL="mongodb://localhost:27018/PulseCare"
# or if you have joined the MongoDB Atlas Project
# DATABASE_URL="mongodb+srv://<user>:<password>@pulsecare-cluster.ym5odc7.mongodb.net/?retryWrites=true&w=majority&appName=PulseCare-Cluster"
AUTH_GOOGLE_ID='123457890-insertYourIdHere.apps.googleusercontent.com'
AUTH_GOOGLE_SECRET='ABCDEF-H4r3_r4nd0mS3cr3tH3r3'

# You can generate a secret using the following command: `npx auth secret`
AUTH_SECRET=InsertYourSecretHere
AUTH_URL=http://localhost:3000/api/auth